# 00_파이썬기초 복습

### 1) range()를 사용하여, 1~100의 수 중, 7의 배수를 리스트 a에 담으시오.

In [2]:
a = list(range(7,101,7))
a

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

### 2) a에서 인덱스 4~7까지 조회하시오.

In [4]:
a[4:8]

[35, 42, 49, 56]

### 3) a의 끝에서 세번째 값을 조회하시오.

In [5]:
a[-3]

84

### 4) a에 데이터 갯수(길이)를 구하시오.

In [90]:
len(a)

14

### 5) a 값들의 합과 평균을 구하시오.

In [24]:
print('합 =', sum(a), '평균 =' ,sum(a)/len(a))

합 = 735 평균 = 52.5

### 6) [심화] 반복문을 이용하여 100이하의 소수(prime number)를 리스트에 담아봅시다.
* 소수(prime number) : 1과 자기자신으로만 나누어 지는 수

In [91]:
prime_number = []

for i in range(2, 101):
    divide = 0
    for j in range(1,i+1):
        if i % j == 0:  # 2 % 1 and 2 % 2 == 0
            divide += 1
    if divide == 2:
        prime_number.append(i)

print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [92]:
import math

prime_number = []

for i in range(2,101):
    divide = 0
    for j in range(2, int(math.sqrt(i)) + 1):
        if i % j == 0:
            divide += 1
    if divide == 0:
        prime_number.append(i)
        
print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### 7) [심화] 6번의 코드를 참조하여, 소수 추출기 함수를 만들어봅시다.

* 입력변수 : 정수 n
* 처리 : n 이하의 소수를 리스트에 저장
* 출력변수 : 소수 리스트
* [주의] 입력변수 n은 2이상의 정수여야 함.(입력값 체크 부분 포함)

In [ ]:
def prime1(n):
    
    prime_number = []

    for i in range(2, n):
        divide = 0
        for j in range(1,i+1):
            if i % j == 0:    # 2 % 1 and 2 % 2 == 0
                divide += 1
        if divide == 2:
            prime_number.append(i)

    return prime_number

print(prime1(100))

import math

def prime2(n):

    prime_number = []
    
    for i in range(2,n):
        divide = 0
        for j in range(2, int(math.sqrt(i)) + 1):
            if i % j == 0:
                divide += 1
        if divide == 0:
            prime_number.append(i)

    return prime_number

print(prime2(100))

### 속도비교

In [26]:
import time

start = time.time()
prime1(10000)
print("prime1's time : ", time.time() - start)

start = time.time()
prime2(10000)
print("prime2's time : ", time.time() - start)

prime1's time :  4.057244300842285
prime2's time :  0.050341129302978516

### 8) 아래 값으로 딕셔너리 d를 생성해봅시다.

|key | value|
|----|----|
|v1 | [1,2,3]|
|v2 | {'a':23, 'b':[4,5]}|

In [81]:
d = {'v1':[1,2,3], 'v2':{'a':23, 'b':[4,5]}}

### 9) d에서 [1,2,3]을 출력해봅시다.

In [82]:
d['v1']

[1, 2, 3]

### 10) d에서 23을 출력해봅시다.

In [84]:
d['v2']['a']

23

### 11) d에서 5를 출력해봅시다.

In [96]:
d['v2']['b'][1]

5

### 12) d에 key : 'newKey', value :1,2 를 추가하고 출력해봅시다.

In [97]:
d['newKey'] = 1,2
d['newKey']

(1, 2)

### 13) [심화] 반복문과 딕셔너리를 사용하여 주어진 단어에서 가장 많이 사용된 알파벳을 출력해봅시다.
* 주어진 단어 : "Big Data Analysis"
* 대문자, 소문자는 구분하지 않습니다.
* 가장 많이 사용된 알파벳을 2개 이상일 경우, 전부 출력해줍니다.

In [113]:
s = 'Big Data Analysis'
# 소문자로 변환 뒤 띄어쓰기 변환
s = ''.join(s.lower().split(' ')) # upper
alphabet = {}

for i in s:
    if i not in alphabet:
        alphabet[i] = 1
    else:
        alphabet[i] += 1

alpha_list = []

for k, v in alphabet.items(): # key, value 값 쌍으로 출력
    if v == max(alphabet.values()):
        alpha_list.append(k)
print(alpha_list)

['a']