### 정제된 데이터 최종확인 및 합본 생성

In [1]:
import pandas as pd

In [3]:
# 정제된 데이터 불러오기
busan_charge_all = pd.read_csv('./data/newdata/2. 충전소/부산/부산_충전소_이용제한없음_최종.csv')
busan_charge_else = pd.read_csv('./data/newdata/2. 충전소/부산/부산_충전소_이용제한있음_최종.csv')

In [4]:
# 데이터 결측치, 이상치 최종확인
busan_charge_all.info()
busan_charge_all.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   운영기관    1512 non-null   object
 1   충전소     1512 non-null   object
 2   충전기ID   1512 non-null   int64
 3   충전기타입   1512 non-null   object
 4   지역      1512 non-null   object
 5   시군구     1512 non-null   object
 6   주소      1512 non-null   object
 7   이용자 제한  1512 non-null   object
 8   위도      1512 non-null   float64
 9   경도      1512 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 118.2+ KB

             충전기ID           위도           경도
count  1512.000000  1512.000000  1512.000000
mean      3.565476    35.171203   129.063217
std       7.019851     0.056320     0.082599
min       1.000000    35.050461   128.825945
25%       1.000000    35.137711   129.012319
50%       2.000000    35.168031   129.067233
75%       4.000000    35.203871   129.114123
max      91.000000    35.382870   129.286051

In [5]:
# 데이터 중복치 최종확인
busan_charge_all[busan_charge_all.duplicated()]

Empty DataFrame
Columns: [운영기관, 충전소, 충전기ID, 충전기타입, 지역, 시군구, 주소, 이용자 제한, 위도, 경도]
Index: []

In [6]:
# 데이터 결측치, 이상치 최종확인
busan_charge_else.info()
busan_charge_else.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4794 entries, 0 to 4793
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   운영기관    4794 non-null   object
 1   충전소     4794 non-null   object
 2   충전기ID   4794 non-null   int64
 3   충전기타입   4794 non-null   object
 4   지역      4794 non-null   object
 5   시군구     4794 non-null   object
 6   주소      4794 non-null   object
 7   이용자 제한  4794 non-null   object
 8   위도      4794 non-null   float64
 9   경도      4794 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 374.7+ KB

             충전기ID           위도           경도
count  4794.000000  4794.000000  4794.000000
mean      4.451606    35.169541   129.078022
std       4.916224     0.057477     0.077594
min       1.000000    35.043198   128.809604
25%       2.000000    35.133926   129.030184
50%       3.000000    35.165396   129.084247
75%       5.000000    35.196892   129.131437
max      42.000000    35.362985   129.292214

In [7]:
# 데이터 중복치 최종확인
busan_charge_else[busan_charge_else.duplicated()]

Empty DataFrame
Columns: [운영기관, 충전소, 충전기ID, 충전기타입, 지역, 시군구, 주소, 이용자 제한, 위도, 경도]
Index: []

In [8]:
# 최종확인 완료된 데이터 합치기
busan_charge = pd.concat([busan_charge_all,busan_charge_else]).reset_index(drop=True)
busan_charge

,운영기관,충전소,충전기ID,충전기타입,지역,시군구,주소,이용자 제한,위도,경도
0,환경부(한국자동차환경협회),kbs 부산방송총국,1,DC차데모+AC3상+DC콤보,부산광역시,수영구,부산광역시 수영구 수영로 429,제한없음,35.144806,129.107595
1,환경부(한국자동차환경협회),kbs 부산방송총국,11,DC콤보,부산광역시,수영구,부산광역시 수영구 수영로 429,제한없음,35.144806,129.107595
2,환경부(한국자동차환경협회),kbs 부산방송총국,12,DC콤보,부산광역시,수영구,부산광역시 수영구 수영로 429,제한없음,35.144806,129.107595
3,환경부(한국자동차환경협회),국립부산과학관,11,DC콤보,부산광역시,기장군,부산광역시 기장군 기장읍 석산리 293,제한없음,35.204002,129.212987
4,환경부(한국자동차환경협회),국립부산과학관,12,DC콤보,부산광역시,기장군,부산광역시 기장군 기장읍 석산리 293,제한없음,35.204002,129.212987
...,...,...,...,...,...,...,...,...,...,...
6301,한국전자금융,롯데월드 어드벤처 부산,4,AC완속,부산광역시,기장군,부산광역시 기장군 기장읍 동부산관광로 42롯데월드 어드벤처 부산,시설 상황에 따라 이용이 제한될 수 있음,35.196062,129.213207
6302,한국전자금융,롯데월드 어드벤처 부산,5,AC완속,부산광역시,기장군,부산광역시 기장군 기장읍 동부산관광로 42롯데월드 어드벤처 부산,시설 상황에 따라 이용이 제한될 수 있음,35.196062,129.213207
6303,한국전자금융,롯데월드 어드벤처 부산,6,AC완속,부산광역시,기장군,부산광역시 기장군 기장읍 동부산관광로 42롯데월드 어드벤처 부산,시설 상황에 따라 이용이 제한될 수 있음,35.196062,129.213207
6304,한국전자금융,롯데월드 어드벤처 부산,7,AC완속,부산광역시,기장군,부산광역시 기장군 기장읍 동부산관광로 42롯데월드 어드벤처 부산,시설 상황에 따라 이용이 제한될 수 있음,35.196062,129.213207
6305,한국전자금융,롯데월드 어드벤처 부산,8,DC차데모+DC콤보,부산광역시,기장군,부산광역시 기장군 기장읍 동부산관광로 42롯데월드 어드벤처 부산,시설 상황에 따라 이용이 제한될 수 있음,35.196062,129.213207

In [21]:
# 정제 완료된 최종 데이터 저장
busan_charge_all.to_csv('./data/newdata/2. 충전소/부산_충전소_이용제한없음_최종.csv',index=False)
busan_charge_else.to_csv('./data/newdata/2. 충전소/부산_충전소_이용제한있음_최종.csv',index=False)
busan_charge.to_csv('./data/newdata/2. 충전소/부산_충전소_전체_최종.csv',index=False)