### 지역별 전기차 증가율에 따른 지역선정

In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('./data/한국전력공사_지역별 전기차 현황정보_20220429.csv')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준일     38 non-null     object
 1   서울      38 non-null     int64
 2   인천      38 non-null     int64
 3   경기      38 non-null     int64
 4   강원      38 non-null     int64
 5   충북      38 non-null     int64
 6   충남      38 non-null     int64
 7   대전      38 non-null     int64
 8   세종      38 non-null     int64
 9   경북      38 non-null     int64
 10  대구      38 non-null     int64
 11  전북      38 non-null     int64
 12  전남      38 non-null     int64
 13  광주      38 non-null     int64
 14  경남      38 non-null     int64
 15  부산      38 non-null     int64
 16  울산      38 non-null     int64
 17  제주      38 non-null     int64
 18  합계      38 non-null     int64
dtypes: int64(18), object(1)
memory usage: 5.8+ KB

,서울,인천,경기,강원,충북,충남,대전,세종,경북,대구,전북,전남,광주,경남,부산,울산,제주,합계
count,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000
mean,22336.736842,5546.736842,20707.868421,3941.500000,4093.868421,5156.710526,4186.315789,1151.289474,6326.526316,12119.500000,3545.236842,5071.789474,3233.526316,6383.236842,5807.552632,2085.947368,20531.315789,132225.657895
std,10114.803908,3862.084374,11517.094205,2101.635152,2320.274625,2964.352406,2189.858926,412.922930,3028.657902,2915.759173,2142.482854,2163.737709,1210.874639,3505.508317,3823.806924,857.254636,3217.806035,57949.273105
min,9571.000000,1298.000000,6493.000000,1393.000000,1205.000000,1142.000000,1358.000000,402.000000,2017.000000,6885.000000,1005.000000,1997.000000,1446.000000,2123.000000,1589.000000,862.000000,15268.000000,56085.000000
25%,13271.250000,2458.500000,11213.750000,2400.000000,2306.250000,2697.000000,2409.500000,876.000000,3886.750000,10118.250000,1813.250000,3290.000000,2371.750000,3600.500000,2787.750000,1258.750000,17994.250000,84764.750000
50%,21557.500000,4421.500000,17854.500000,3215.500000,3393.000000,4399.500000,3710.500000,1088.000000,5608.000000,12509.000000,2941.500000,4667.500000,3098.500000,5310.000000,4370.000000,2173.000000,20903.000000,121221.500000
75%,28317.250000,7519.500000,29258.500000,5087.500000,5348.000000,7087.500000,5682.500000,1391.250000,8536.500000,13848.500000,4936.000000,6537.750000,4014.000000,8480.500000,8256.000000,2856.250000,22665.500000,169823.000000
max,43206.000000,14134.000000,45891.000000,8652.000000,9683.000000,11532.000000,8595.000000,2069.000000,12318.000000,17584.000000,8404.000000,9978.000000,6015.000000,14371.000000,15330.000000,3789.000000,26702.000000,258253.000000

In [26]:
df['년도'] = df['기준일'].str[2:4].astype(int)
df['월'] = df['기준일'].str[5:7].astype(int)

In [34]:
df_seoul = df['서울'].loc[::-1].reset_index(drop=True)
df_seoul[1] - df_seoul[0]

76